Repository GabrielaMedrado/SAP007-social-network, pull requests merged in 2022-05, with the labels that each got.

#51 chore: iniciando o readme
  README.md
  src/img/flavia-dantas.jpg
  src/img/gabriela-medrado.jpg
  src/img/lidianne-romao.jpg
  src/img/pesquisa.01.JPG
  src/img/pesquisa.02.JPG
  src/img/planejamento.JPG
  src/img/protótipo.cel.JPG
Labels: chore

#52 Style/pages
  src/js/components/post.js
  src/js/pages/register.js
  src/js/pages/signIn.js
  src/js/pages/writePost.js
  src/lib/config-firestore.js
  src/style/components/post.css
  src/style/pages/register.css
  src/style/pages/signIn.css
  src/style/pages/writePost.css
  src/style/variables.css
Labels: style

#54 chore:readme adjustments
  README.md
Labels: chore

#53 style: responsive pages
  src/js/components/post.js
  src/style/components/post.css
  src/style/pages/register.css
  src/style/pages/signIn.css
Labels: style

#55 feat: footer
  src/js/components/footer.js
  src/js/pages/register.js
  src/js/pages/signIn.js
  src/style/components/footer.css
  src/style/global.css
  src/style/pages/register.css
  src/style/pages/signIn.css
Labels: feat, style

#56 Test/tests login
  src/js/components/navbar.js
  src/js/components/post.js
  src/js/pages/writePost.js
  src/js/routes.js
  src/lib/__mocks__/exports.js
  src/lib/config-auth.js
  src/lib/config-firestore.js
  src/style/components/post.css
  test/index.spec.js
  test/js/components/post.spec.js
  test/js/routes.spec.js
  test/lib/config-auth.spec.js
  test/lib/config-firestore.spec.js
  test/pages/feed.spec.js
  test/pages/signIn.spec.js
  test/pages/writePost.spec.js
Labels: test

#58 chore: readme adjustments
  README.md
  src/img/goodfood.gif
  src/img/reponsive-feed.jpg
  src/img/responsive.register.jpg
Labels: chore

#59 style: adjustments
  src/js/pages/register.js
  src/js/pages/signIn.js
  src/js/pages/writePost.js
  src/lib/config-auth.js
  src/lib/config-firebase.js
  test/pages/writePost.spec.js
Labels: style
